* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: white;
    background: #08111f;
    overflow: hidden;
}

#background {
    position: fixed;
    inset: 0;
    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #0f172a
    );
    z-index: -1;
    transition: 2s;
}

header {
    height: 120px;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255,255,255,.05);
}

#clock {
    font-size: 64px;
    font-weight: bold;
}

#date {
    font-size: 24px;
}

.weather-top {
    text-align: right;
}

#temp {
    font-size: 65px;
    font-weight: bold;
}

main {
    height: calc(100vh - 180px);

    display: grid;

    grid-template-columns:
        25%
        50%
        25%;
}

.weather-card,
.center-card,
.sports-card {

    margin: 15px;

    padding: 25px;

    border-radius: 20px;

    background: rgba(255,255,255,.08);

    backdrop-filter: blur(10px);
}

.weather-card h2,
.sports-card h2 {

    color: #60a5fa;
    margin-bottom: 20px;
}

#currentWeather {
    font-size: 32px;
    margin-bottom: 30px;
}

#forecast {
    font-size: 24px;
    line-height: 2.2;
}

.center-card {

    display: flex;
    flex-direction: column;
}

.center-card h1 {

    text-align: center;

    margin-bottom: 25px;

    font-size: 44px;
}

.news-title {

    font-size: 28px;

    color: #f59e0b;

    margin-bottom: 20px;
}

#news {

    font-size: 24px;
    line-height: 1.8;
}

.news-item {

    margin-bottom: 15px;

    padding-bottom: 15px;

    border-bottom: 1px solid rgba(255,255,255,.1);
}

.next-game-card {

    margin-top: 30px;

    background: #991b1b;

    border-radius: 15px;

    padding: 20px;

    text-align: center;
}

#next-game {

    margin-top: 10px;

    font-size: 28px;

    font-weight: bold;
}

#nhl,
#nfl {

    font-size: 20px;

    line-height: 1.9;
}

.spacer {
    margin-top: 35px;
}

footer {

    height: 60px;

    display: flex;
    align-items: center;

    background: #1d4ed8;
}

#ticker {

    padding-left: 25px;

    font-size: 24px;

    white-space: nowrap;
}
